body{
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    padding: 20px;
    font-size: 25px;
    border-radius: 5px;
    background-color: #292929;
    color: beige;
}
button:hover{
    background-color: #fff;
    color: black;
}